<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="PublishedFiles" Directory="INSTALLFOLDER">
      <Component Id="FileComponent_0" Guid="1908cbd4-1f42-4b1f-ae9c-93c63e90d69d">
        <File Id="MaterialDesignColors.dll" Source="$(var.PublishDir)MaterialDesignColors.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_1" Guid="05797f5e-4efc-4d5d-8de4-df546891a4bf">
        <File Id="MaterialDesignThemes.Wpf.dll" Source="$(var.PublishDir)MaterialDesignThemes.Wpf.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_2" Guid="4a3f4cfb-0f3d-4941-9a5b-3336d84adbe6">
        <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.PublishDir)Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_3" Guid="4643c406-d65f-4e5a-a4df-4d1be8db2441">
        <File Id="Microsoft.Extensions.Configuration.Binder.dll" Source="$(var.PublishDir)Microsoft.Extensions.Configuration.Binder.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_4" Guid="3971bb1c-9445-4648-a867-c10ecf1776f9">
        <File Id="Microsoft.Extensions.Configuration.dll" Source="$(var.PublishDir)Microsoft.Extensions.Configuration.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_5" Guid="c49fed70-3f86-48c9-bfd0-c8eb3eb98465">
        <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.PublishDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_6" Guid="4aa7e377-d4d9-40d8-b134-43d964fa9072">
        <File Id="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.PublishDir)Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_7" Guid="cea0dbc9-74ea-460e-bbbd-2b14cfca0d64">
        <File Id="Microsoft.Extensions.Diagnostics.Abstractions.dll" Source="$(var.PublishDir)Microsoft.Extensions.Diagnostics.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_8" Guid="21895b6a-bc47-4d90-82c1-4b53878dfbf8">
        <File Id="Microsoft.Extensions.Diagnostics.dll" Source="$(var.PublishDir)Microsoft.Extensions.Diagnostics.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_9" Guid="49fe2c17-2d20-4d75-b6db-e74a545fef6a">
        <File Id="Microsoft.Extensions.Http.dll" Source="$(var.PublishDir)Microsoft.Extensions.Http.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_10" Guid="62970c71-3cc8-4065-bf34-b1546d7e6d6b">
        <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.PublishDir)Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_11" Guid="e2d73b3d-97fd-4e39-bba7-f0ebf35c7766">
        <File Id="Microsoft.Extensions.Logging.dll" Source="$(var.PublishDir)Microsoft.Extensions.Logging.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_12" Guid="2458899b-d0cb-4902-a3a3-37881b853215">
        <File Id="Microsoft.Extensions.Options.ConfigurationExtensions.dll" Source="$(var.PublishDir)Microsoft.Extensions.Options.ConfigurationExtensions.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_13" Guid="d33aaba2-8903-4b30-812b-0b8d92ee38d0">
        <File Id="Microsoft.Extensions.Options.dll" Source="$(var.PublishDir)Microsoft.Extensions.Options.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_14" Guid="b2d1f687-8f13-4693-bc2a-17228fbc3bc3">
        <File Id="Microsoft.Extensions.Primitives.dll" Source="$(var.PublishDir)Microsoft.Extensions.Primitives.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_15" Guid="7272a9c7-ac68-4e4f-aeaa-12fdff913459">
        <File Id="Microsoft.Xaml.Behaviors.dll" Source="$(var.PublishDir)Microsoft.Xaml.Behaviors.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_16" Guid="fbc5281b-c2af-4640-9208-8fbe5d348dce">
        <File Id="PortLens.Core.dll" Source="$(var.PublishDir)PortLens.Core.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_17" Guid="483347cb-a58d-4b04-9961-132f71a2bbc2">
        <File Id="PortLens.deps.json" Source="$(var.PublishDir)PortLens.deps.json" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_18" Guid="657dc977-7750-4e8b-b3dc-6669b65bc5e8">
        <File Id="PortLens.dll" Source="$(var.PublishDir)PortLens.dll" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_19" Guid="4688d9f3-85b1-4e75-b74a-cd87ec33c44f">
        <File Id="PortLens.exe" Source="$(var.PublishDir)PortLens.exe" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_20" Guid="878e0307-6463-4eb0-8b77-df10d45e7da1">
        <File Id="PortLens.runtimeconfig.json" Source="$(var.PublishDir)PortLens.runtimeconfig.json" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_21" Guid="be3bcb2e-556e-42a2-9e82-5fdb6c71b579">
        <File Id="README.md" Source="$(var.PublishDir)README.md" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_22" Guid="a441aa57-68c2-41b5-974a-9a63ca077d2b">
        <File Id="Run_PortLens.cmd" Source="$(var.PublishDir)Run-PortLens.cmd" KeyPath="yes" />
      </Component>
      <Component Id="FileComponent_23" Guid="73a06045-8f01-44ef-998a-aed1eae6c614">
        <File Id="zh_Hans_PortLens.resources.dll" Source="$(var.PublishDir)zh-Hans\PortLens.resources.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
